<div class="row">
<div class="col-8 offset-2">
   <div id="survey">
        
        <form class="home-form">
            <div class="form-group">
                <label for="question1">Are you looking to adopt a cat or a dog?</label>
                <select class="form-control" id="question1-home">
                    <option value="empty"></option>
                    <option value="Cat">Cat</option>
                    <option value="Dog">Dog</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question2">What type of home will your new pet live in?</label>
                <select class="form-control" id="question2-home">
                    <option value="empty"></option>
                    <option value="Apartment">Apartment</option>
                    <option value="Single family home">Single family home</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question3">What size pet do you want?</label>
                <select class="form-control" id="question3-home">
                    <option value="empty"></option>
                    <option value="Very small">1 (Very small)</option>
                    <option value="Medium">2 (Medium)</option>
                    <option value="Large">3 (Large)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question4">Do you need a hypoallergenic pet?</label>
                <select class="form-control" id="question4-home">
                    <option value="empty"></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question5">How active would you like your pet to be?</label>
                <select class="form-control" id="question5-home">
                    <option value="empty"></option>
                    <option value="Sedentary">1 (Sedentary)</option>
                    <option value="Lightly Active">2 (Lightly active)</option>
                    <option value="Moderate">3 (Moderate)</option>
                    <option value="Very Active">4 (Very active)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question6">How old would you like your pet to be?</label>
                <select class="form-control" id="question6-home">
                    <option value="empty"></option>
                    <option value="0-1">0-1</option>
                    <option value="2-4">2-4</option>
                    <option value="6-10">6-10</option>
                    <option value="11+">11+</option>
                </select>
            </div>
             <div class="form-group">
                <label for="question7"><p>Add a link to an image of your pet</p></label>
                <input type=“text” name=“imgurl” id="question7-home">
            </div>
            <button type="submit" id="home-submit">Submit</button>
        </form>
    

</div>
    </div>
    </div>