<div class="container-fluid">
    <div class="head">
        <P>Pettle</P>
    </div>

    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/view-pets">View Pets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/view-homes">View Homes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/survey">Add a Pet or Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/login">Log In</a>
  </li>
</ul>

</div>