<div class="row">
    <div class="col-8 offset-2">
        <div class="survey">


            <h1>Tell us about your pet</h1>
            <hr>
            <form class="pet-form">
                <div class="form-group">
                    <label for="question1">
                        <p>What is your pet's name?</p>
                    </label>
                    <input id="question1-pet" type="text" class="form-control" placeholder="Pet's Name">
                </div>
                <div class="form-group">
                    <label for="question2">
                        <p>Are you putting up a cat or a dog for adoption?</p>
                    </label>
                    <select class="form-control" id="question2-pet">
                        <option value="empty"></option>
                        <option value="Cat">Cat</option>
                        <option value="Dog">Dog</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question3">
                        <p>How old is your pet?</p>
                    </label>
                    <select class="form-control" id="question3-pet">
                        <option value="empty"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question4">
                        <p>What breed is your pet?</p>
                    </label>
                    <input class="form-contol" type="text" id="question4-pet">

                </div>
                <div class="form-group">
                    <label for="question5">
                        <p>What size is your pet?</p>
                    </label>
                    <select class="form-control" id="question5-pet">
                        <option value="empty"></option>
                        <option value="1">Small</option>
                        <option value="2">Medium</option>
                        <option value="3">Large</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="question6">
                        <p>Is your pet hypo-allergenic?</p>
                    </label>
                    <select class="form-control" id="question6-pet">
                        <option value="empty"></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>


                    </select>
                </div>
                <div class="form-group">
                    <label for="question7">
                        <p>What level of activty does your pet have?</p>
                    </label>
                    <select class="form-control" id="question7-pet">
                        <option value="empty"></option>
                        <option value="1">Sedentary</option>
                        <option value="2">Lightly Active</option>
                        <option value="3">Moderately Active</option>
                        <option value="4">Very Active</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question8">
                        <p>Is the pet good with kids?</p>
                    </label>
                    <select class="form-control" id="question8-pet">
                         <option value="empty"></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                 <div class="form-group">
                    <label for="question9">
                        <p>Add a link to an image of your pet</p>
                    </label>
                    <input type="text" name="imgurl" id="question9-pet">
                </div>

                <button type="submit" id="pet-sumbit">Submit</button>
            </form>

        </div>
    </div>
</div>