<div class = "row">
            <div class = "col-2 offset-1">
                <div id= "survey-button">
                    <p> <a href="/add-pet">Add a pet <br>profile</a></p>
                </div>
            </div>
            <div class = "col-2 offset-4">
             <div id= "survey-button">
                 <p><a href="/add-home">Add a home profile</a></p>
             </div>
         </div>
 </div>