<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
		<title>Pettle</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body><div class="container-fluid p-0">
            <div class="head">
                <P>Pettle</P>
            </div>
            
        
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/view-pets">View Pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view-homes">View Homes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">Add a Pet or Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>

       
        {{{ body }}}
        
 
        </div>
		
	</body>
</html>
